.App{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.Layers {
    width: 100vw;
    height: 100vh;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}
  
.layer-wrapper{
    position: absolute;
}

.inactive{
    pointer-events: none; 
}
  