.ToolBar{
    position: absolute;
    bottom: 10px;
    right: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
    background-color: black;
    border-radius: 15px;
    margin: 1rem;
}

.ToolBar *{
    margin: 0.5rem;
}

.color{
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
    border-radius: 10px;
    border: 1px solid white;
}
.palette{
    display: flex;
}

.Icon{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.palette-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
/* Add to ToolBar.css */
.modal {
    position: absolute;
    bottom: 50px;
    right: -180px;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000;
    background-color: black;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
}
  